.aside {
    max-width: 282px;
    min-height: 100vw;
    background-color: var(--neutral-header);
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    gap: 56px
}

.footer {
   font-size: 13px; 
   line-height: 120%;
   color: var(--neutral-text);
   text-align: center;
}