.h1 {
    color: var(--neutral-text);
    margin: 0;
    line-height: 120%;
    font-size: 31px;
    font-weight: 700;
}

.p {
    color: var(--neutral-text);
    margin: 0;
    font-size: 16px;
    line-height: 120%;
}