.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 48px;
}

.list li {
    border-bottom: 1px solid var(--neutral-header);
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.list li:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}