.card {
    background-color: var(--neutral-surface);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--neutral-header);
    font-size: 20px;
    line-height: 120%;
    font-weight: 700;
    text-align: center;
    color: var(--neutral-text);
    padding: 16px 75px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.body {
    background-color: var(--neutral-surface);
    padding: 32px 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}